<script setup lang="ts"></script>

<template>
  <v-container>
    <div>
      <v-row justify="space-around">
        <v-card width="400">
          <v-img
            height="200"
            src="https://media.discordapp.net/attachments/1004014534165536878/1053745153141121034/B7234403-2CCA-4036-B373-72FD21BBE7FA.jpg?width=662&height=662"
            cover
            class="text-white"
          >
            <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark">
              <template v-slot:prepend>
                <v-btn icon="$menu"></v-btn>
              </template>

              <v-toolbar-title class="text-h6"> PORTFOLIO </v-toolbar-title>
            </v-toolbar>
          </v-img>

          <v-card-text>
            <div class="font-weight-bold ml-1 mb-2">Personal Information</div>

            <v-timeline density="compact" aligns="start">
              <v-timeline-item
                v-for="message in messages"
                :key="message.time"
                :dot-color="message.color"
                size="x-small"
              >
                <div class="mb-4">
                  <div class="font-weight-normal">
                    <strong>{{ message.from }}</strong> @{{ message.time }}
                  </div>
                  <div>{{ message.message }}</div>
                </div>
              </v-timeline-item>
            </v-timeline>
          </v-card-text>
        </v-card>
      </v-row>
    </div>
    <div>
      <v-card class="mx-auto" max-width="400">
        <v-img
          class="align-end text-white"
          height="200"
          src="https://i.pinimg.com/originals/58/be/94/58be94dc043bc44b374de8d3022d9431.jpg"
          cover
        >
        </v-img>
        <v-card-title>EDUCATION</v-card-title>

        <v-card-text>
          <v-list-item>
            <v-list-item-title>Elementary School</v-list-item-title>
            <v-list-item-subtitle>
              Muang Chanthaburi Municipal 2 School
            </v-list-item-subtitle>
            <v-list-item-subtitle> 2009 - 2014</v-list-item-subtitle>
          </v-list-item>
          <v-col></v-col>
          <v-divider></v-divider>
          <v-col></v-col>

          <v-list-item>
            <v-list-item-title>Junior High School</v-list-item-title>
            <v-list-item-subtitle> Siyanuson school </v-list-item-subtitle>
            <v-list-item-subtitle> 2015 - 2017 </v-list-item-subtitle>
          </v-list-item>
          <v-col></v-col>
          <v-divider></v-divider>
          <v-col></v-col>

          <v-list-item>
            <v-list-item-title>Senior High School</v-list-item-title>
            <v-list-item-subtitle> Siyanuson school </v-list-item-subtitle>
            <v-list-item-subtitle> 2018 - 2020 </v-list-item-subtitle>
          </v-list-item>
          <v-col></v-col>
          <v-divider></v-divider>
          <v-col></v-col>

          <v-list-item>
            <v-list-item-title>Bachelor Degrees</v-list-item-title>
            <v-list-item-subtitle> Burapha University </v-list-item-subtitle>
            <v-list-item-subtitle> 2021 - 2024 </v-list-item-subtitle>
          </v-list-item>
          <v-col></v-col>
        </v-card-text>
      </v-card>
    </div>

    <v-row justify="space-around">
      <v-card width="400">
        <v-img
          src="https://media.discordapp.net/attachments/1004014534165536878/1053808251902369914/image.png"
          height="200px"
          cover
        ></v-img>
        <div>
          <v-card-title> INTEREST </v-card-title>

          <v-card-subtitle> everything that interests me </v-card-subtitle>

          <v-card-actions class="d-flex flex-column">
            <v-btn @click="show = !show" variant="flat" color="brown-lighten-2">
              Explore
            </v-btn>

            <v-spacer></v-spacer>
          </v-card-actions>

          <v-expand-transition>
            <div v-show="show">
              <v-divider></v-divider>

              <v-card
                title="Travel"
                subtitle="I enjoy travelling"
                color="grey-lighten-3"
              ></v-card>
              <v-card
                borders
                density="comfortable"
                prepend-avatar="https://media.discordapp.net/attachments/1004014534165536878/1053745153141121034/B7234403-2CCA-4036-B373-72FD21BBE7FA.jpg?width=662&height=662"
                subtitle="Koh Larn, Pattaya, Thailand"
                title="Beemmmmmmmm.m"
                variant="text"
              >
                <v-img
                  src="https://cdn.discordapp.com/attachments/1004014534165536878/1053777226660847667/0E42C6AB-B488-493C-A13B-0E0E00799A91.jpg"
                  height="128"
                  cover
                ></v-img>

                <v-card-text>
                  During the semester holidays, I went to Koh Larn and it was my
                  first trip to the island in my life.
                </v-card-text>
              </v-card>

              <v-card
                borders
                density="comfortable"
                prepend-avatar="https://media.discordapp.net/attachments/1004014534165536878/1053745153141121034/B7234403-2CCA-4036-B373-72FD21BBE7FA.jpg?width=662&height=662"
                subtitle="Benchakiti Park, Bangkok, Thailand"
                title="Beemmmmmmmm.m"
                variant="text"
              >
                <v-img
                  src="https://media.discordapp.net/attachments/1004014534165536878/1053792889156669530/image.png"
                  height="128"
                  cover
                ></v-img>

                <v-card-text
                  >It's going to the park very late at night.
                </v-card-text>
              </v-card>

              <v-card
                borders
                density="comfortable"
                prepend-avatar="https://media.discordapp.net/attachments/1004014534165536878/1053745153141121034/B7234403-2CCA-4036-B373-72FD21BBE7FA.jpg?width=662&height=662"
                subtitle="Pattaya beach, Pattaya, Thailand"
                title="Beemmmmmmmm.m"
                variant="text"
              >
                <v-img
                  src="https://media.discordapp.net/attachments/1004014534165536878/1053956602471923742/4F018714-50D3-489E-B04C-8AB0A86C1FD5.jpg?width=663&height=663"
                  height="128"
                  cover
                ></v-img>

                <v-card-text>
                  Pattaya International Fireworks Festival 2022.
                </v-card-text>
              </v-card>
            </div>
          </v-expand-transition>
        </div>

        <div v-show="show">
          <v-divider></v-divider>

          <v-card
            title="Muisc"
            subtitle="My Favorite Muisc"
            color="grey-lighten-3"
          ></v-card>
          <v-card max-width="400" class="mx-auto"
            ><v-container>
              <v-row dense>
                <v-col cols="12">
                  <v-card color="#385F73" theme="dark">
                    <v-card-title class="text-h5">
                      My Favorite Muisc
                    </v-card-title>

                    <v-card-subtitle
                      >List to my favorite artists and albums.</v-card-subtitle
                    >

                    <v-card-actions>
                      <v-btn variant="text"> Listen Now </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>

                <v-col cols="12">
                  <v-card color="teal-lighten-3" theme="dark">
                    <div class="d-flex flex-no-wrap justify-space-between">
                      <div>
                        <v-card-title class="text-h15">
                          Tonight (We Have Fun)
                        </v-card-title>

                        <v-card-subtitle>Blackbeans</v-card-subtitle>
                      </div>

                      <v-avatar class="ma-3" size="100" rounded="0">
                        <v-img
                          src="https://media.discordapp.net/attachments/1004014534165536878/1053784058057994280/image.png"
                        ></v-img>
                      </v-avatar>
                    </div>
                  </v-card>
                </v-col>

                <v-col cols="12">
                  <v-card color="blue-lighten-3" theme="dark">
                    <div class="d-flex flex-no-wrap justify-space-between">
                      <div>
                        <v-card-title class="text-h15"> 17 </v-card-title>

                        <v-card-subtitle> Dept </v-card-subtitle>

                        <v-card-actions> </v-card-actions>
                      </div>

                      <v-avatar class="ma-3" size="100" rounded="0">
                        <v-img
                          src="https://media.discordapp.net/attachments/1004014534165536878/1053788316031516702/image.png?width=660&height=663"
                        ></v-img>
                      </v-avatar>
                    </div>
                  </v-card>
                </v-col>

                <v-col cols="12">
                  <v-card color="grey-lighten-3" theme="dark">
                    <div class="d-flex flex-no-wrap justify-space-between">
                      <div>
                        <v-card-title class="text-h15">
                          Not a Home ft.SMEW
                        </v-card-title>

                        <v-card-subtitle> Pardyalone </v-card-subtitle>

                        <v-card-actions> </v-card-actions>
                      </div>

                      <v-avatar class="ma-3" size="100" rounded="0">
                        <v-img
                          src="https://media.discordapp.net/attachments/1004014534165536878/1053791464880078869/image.png?width=665&height=662"
                        ></v-img>
                      </v-avatar>
                    </div>
                  </v-card>
                </v-col>

                <v-col cols="12">
                  <v-card color="brown-lighten-3" theme="dark">
                    <div class="d-flex flex-no-wrap justify-space-between">
                      <div>
                        <v-card-title class="text-h15">
                          ข้างกาย ( With You )
                        </v-card-title>

                        <v-card-subtitle> Safeplanet </v-card-subtitle>

                        <v-card-actions> </v-card-actions>
                      </div>

                      <v-avatar class="ma-3" size="100" rounded="0">
                        <v-img
                          src="https://media.discordapp.net/attachments/1004014534165536878/1053792523505639614/image.png"
                        ></v-img>
                      </v-avatar>
                    </div>
                  </v-card>
                </v-col>

                <v-divider></v-divider>
              </v-row>
            </v-container>
          </v-card>
        </div>
        <v-expand-transition>
          <div v-show="show">
            <v-divider></v-divider>

            <v-card
              title="Favorite Restaurant"
              subtitle="I enjoy eating"
              color="grey-lighten-3"
            ></v-card>
            <div>
              <v-card class="mx-auto" max-width="600"
                ><v-container fluid>
                  <v-row dense>
                    <v-col
                      v-for="card in cards"
                      :key="card.title"
                      :cols="card.flex"
                    >
                      <v-card>
                        <v-img
                          :src="card.src"
                          class="align-end"
                          gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                          height="200px"
                          cover
                        >
                          <v-card-title
                            ><span class="text-white" v-text="card.title"></span
                          ></v-card-title>
                        </v-img>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                        </v-card-actions>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </div>
          </div>
        </v-expand-transition>
      </v-card>
    </v-row>

    <v-card class="mx-auto" max-width="400">
      <div>
        <v-card title="CONTACT" color="blue-lighten-3" width="400"></v-card>

        <v-card color="grey-lighten-3" theme="dark">
          <v-card-text>EMAIL : nalinthiphomkhontha@gmail.com</v-card-text>
          <v-card-text>INSTAGRAM : beemmmmmmmm.m</v-card-text>
          <v-card-text>FACEBOOK : Beem Narinthip</v-card-text>
        </v-card>
      </div>
    </v-card>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    cards: [
      {
        title: "ร้านเจ้วรรณ",
        src: "https://media.discordapp.net/attachments/1004014534165536878/1053977591494758480/24842EDE-C2BD-435B-867B-7A5FD1CF5652.jpg?width=373&height=662",
        flex: 6,
      },
      {
        title: "Café Amazon",
        src: "https://media.discordapp.net/attachments/1004014534165536878/1053977591826087997/7DAB8F28-FEFB-4371-99B9-F1B842F6594A.jpg?width=373&height=662",
        flex: 6,
      },
      {
        title: "Bingsu",
        src: "https://media.discordapp.net/attachments/1004014534165536878/1053977592111308821/F76A6F90-4B16-44D1-97C1-107566E753A2.jpg?width=373&height=662",
        flex: 6,
      },
      {
        title: "Phung Yen",
        src: "https://media.discordapp.net/attachments/1004014534165536878/1053978491827273728/708EE9C3-47DD-4329-BEC3-3A79CB5CD39A.jpg?width=373&height=662",
        flex: 6,
      },
    ],

    messages: [
      {
        from: "NAME & SURNAME",
        message: `Nalinthip Homkhontha`,
        time: "10:42am",
        color: "green-lighten-3",
      },
      {
        from: "NICKNAME",
        message: "Beem",
        time: "10:37am",
        color: "green-lighten-3",
      },
      {
        from: "GENDER",
        message: "Female",
        time: "9:12am",
        color: "green-lighten-3",
      },
      {
        from: "DATE OF BIRTH",
        message: "30 september 2002",
        time: "9:30am",
        color: "blue-lighten-3",
      },
      {
        from: "AGE",
        message: "20 years old",
        time: "9:47am",
        color: "blue-lighten-3",
      },
      {
        from: "RELIGION & NATIONALITY",
        message: "Buddhist & Thai",
        time: "9:25am",
        color: "red-lighten-3",
      },
      {
        from: "STUDYING AT",
        message: "Computer Science At Burapha University",
        time: "9:25am",
        color: "red-lighten-3",
      },
    ],
    show: false,
  }),
};
</script>
